body {
    font-family: sans-serif;
}
header{
    background-image: url("https://img.tsn.ua/cached/825/tsn-8d1621a47e57f8d275b9b822fb9c4f13/thumbs/428x268/31/47/0f0a3006a6b942597e2aa6d254014731.jpg");
    height: 150px;
    width:100%;
}
h1{
    text-align: center;
    margin: auto;
    color:#ffadad;
    background-color:#730000a9;
    border-radius:50px;
    width: fit-content;
    font-size: 30px;
    padding: 5px;
}
nav{
   display:flex;
   justify-content: space-around;
   background-color: #DD7373;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.a_1{
    color:#ffffff;
    text-decoration: none;
}
.img_osn{
    height: 300px;
    width: 280px;
}
.sec_ocn{
   display: flex;
   justify-content: space-around;
   border-bottom: 2px solid #000000;
}
.art_ocn3{
    border-left:2px solid #000000;
}
.art_ocn2{
    margin: 20px;
}
 .art_ocn1{
     margin: 10px;
}
h2{
    text-align:center;
}
.vubir_sec{
    display: flex;
    justify-content: space-around;
}
.vubir_art{
   background-color: #ffd6d6;
   margin: 10px;
   padding: 5%;
   width: 300px;
}
.h3_art{
    font-size: 15px;
}
.p_art{
    font-size: 12px;
    
}
.img_art{
    height: 300px;
    width: 280px;
    margin: 0 auto;
}
